# Unity - Projektverzeichnisse ignorieren (rekursiv)
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/[Mm]emoryCaptures/
**/[Rr]ecordings/

# Logdateien
*.log

# Blender-Zwischendateien
*.blend1
*.blend1.meta

# Asset Store Tools (optional)
# /[Aa]ssets/AssetStoreTools*

# JetBrains Rider Plugin (optional)
**/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio / JetBrains / IDE-Caches und Projekte
.vs/
.idea/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Meta-Dateien von Debug-/Builddaten
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity-Absturzdateien
sysinfo.txt

# Build-Outputs
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Firebase / Crashlytics
crashlytics-build.properties

# Addressables (binär, optional)
**/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporäre Android Assets
**/[Ss]treamingAssets/aa.meta
**/[Ss]treamingAssets/aa/*

# Visual Scripting generierte Dateien
**/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
**/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
**/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
**/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# macOS-Systemdateien
.DS_Store

# Windows-Systemdateien
Thumbs.db
